<mat-card class="card-style">
    <div fxLayout="row">
        <div fxFlex.gt-sm="30%">
            <img src="assets/images/op.jpeg">
        </div>
        <div fxFlex.gt-sm="70%">
            <h3 class="title"> Operations et processus </h3>
            <p class="date">Mise a jour: 02/10/2020</p>
        </div>
    </div>
    <p class="text">Le texte argumentatif développe un raisonnement ayant pour objectif de faire
        admettre à un lecteur
        la validité d'une thèse ou, inversement, de réfuter une thèse couramment admise. L'auteur
        d'un texte
        argumentatif veut influencer la pensée du destinataire en l'amenant à changer de
        comportement ou de point de vue</p>
</mat-card>