<app-formulaire-contact></app-formulaire-contact>
<mat-card fxLayout="row wrap" class="card">
    <h1>Contactez nous</h1>

    <p class="def">Arrêtez de perdre du temps et de l’argent, Rejoignez nos clients satisfaits et parlez-nous de votre
        projet.</p>

    <img src="assets/images/position.PNG" alt="img1" class="img w-100">

    <div class="contact"  fxLayout="row wrap">
                 
        <div  fxFlex.gt-sm="33%">
        <div id="circle" style=" background-color: #121111; ">
            <mat-icon id="MatIcon">location_on</mat-icon>
        </div>
        <p>Avenue Ibn Al Jazzar <br>
            5000 Monastir, Monastir</p>
        </div>
            <div  fxFlex.gt-sm="33%">
        <div id="circle" style=" background-color: #FD3535; ">
            <mat-icon id="MatIcon">mail_outline</mat-icon>
        </div>
        <p>contact@dev-pro.io <br>
            rafiknetwork@gmail.com</p>
        </div>
        <div  fxFlex.gt-sm="33%">
        <div id="circle" style=" background-color: #3647E5; ">
            <mat-icon id="MatIcon">call</mat-icon>
        </div>
        <p>+(216) 73 505 070 <br>
            +(216) 20 521 447</p>
        </div>
    </div>

</mat-card>