<div class="navbar">
  <mat-toolbar color="default">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
      <span>Digital</span>
    </a>

    

    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/">Acceuil</a>
      <a mat-button routerLink="/ressource">Ressources</a>
      <a mat-button routerLink="/contactez-nous">Contactez-nous</a>
      <a mat-button routerLink="/propos">A Propos</a> 
      <a mat-button routerLink="/signin" >Login</a>
      <a mat-button  routerLink="/logout"  >logout</a>

    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/">Acceuil</a>
        <a mat-button routerLink="/ressource">Ressources</a>
        <a mat-button routerLink="propos">A Propos</a>
        <a mat-button routerLink="/signin" >Login</a>
      <a mat-button routerLink="/logout"  >logout</a>
      </div>
    </mat-sidenav>

  </mat-sidenav-container>

</div>