<div fxLayout="column" fxLayoutAlign="space-around start" class="evolution">
    <mat-card>
        <strong> Votre entreprise est : </strong>
        <strong style="color: palevioletred;">Traditionaliste</strong>
        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
        <p>Les entreprises traditionalistes semblent négliger l'importance de <br>
            la transformation numérique dans tous les domaines de leur activité. <br>
            Toutes les dimensions de la transformation ne sont pas exploitées <br>
            et parfois ignorées. La bonne nouvelle en complétant cette évaluation <br>
            aujourd'hui est que vous venez de franchir votre premier véritable pas <br>
            vers la pérennité de votre entreprise. Il serait important pour vous de <br>
            revoir vos priorités et de construire une base solide pour aspirer à une <br>
            meilleure maturité numérique. </p>
    </mat-card>
</div>