<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<mat-card fxLayout="colum" class="card">
    <div fxLayout="column" fxLayoutAlign=" start">
        <h1 class="titre">À propos de nous </h1>
        <p> DevPro est une boite de Développement et Services Informatiques, est une société de développement
            informatique spécialisée dans le développement des logiciels sur-mesure, des sites web, des applications
            web et des applications mobile.
        </p>
    </div>
    <div fxLayout="column" fxLayoutAlign=" start">
        <div class="language">
            <h1>Expériences des utilisateurs </h1>
            <div class="w3-light-grey">
                <div id="myBar" class="w3-container w3-indigo w3-center" style="width:20%">20%</div>
            </div>
        </div>

        <div class="language">
            <h1>Web Design </h1>
            <div class="w3-light-grey">
                <div id="myBar" class="w3-container w3-indigo w3-center" style="width:60%">60%</div>
            </div>
        </div>

        <div class="language">
            <h1>Programmation </h1>
            <div class="w3-light-grey">
                <div id="myBar" class="w3-container w3-indigo w3-center" style="width:80%">80%</div>
            </div>
        </div>

        <div class="language">
            <h1>Fun</h1>
            <div class="w3-light-grey">
                <div id="myBar" class="w3-container w3-indigo w3-center" style="width:50%">50%</div>
            </div>
        </div>
    </div>
</mat-card>

