::ng-deep app-formulaire-contact{
    display: block !important;
   padding: 5px;   
}

.my-label{
    color: #9A8E8E;
} 
.my-button
{
    top: 15px;
    left: 250px;
}
mat-form-field{
    width: 550px;
    height: 50px;
    margin: 20px;
}
mat-icon{
    color: #9A8E8E;
    
}
.aucun
{
    color: #000000;
    width : 50 px;   
}
.Mat-Msg
{
    margin-top: 35px;
    width: 1140px;
}


