<div>
    <mat-card class="card">

        <div fxLayout="colum" fxLayoutAlign=" none">
            <mat-icon class="aucun">mail_outline</mat-icon> 
            <h1> <strong> Formulaire </strong> de contact.</h1>
        </div>

        <form class="form">
            <div fxLayout="row" fxLayoutAlign="stretch">
 
                    <mat-form-field appearance="outline">
                        <br>
                        <mat-label class="my-label">Subject :</mat-label>
                        <br>
                        <div div fxLayout="row" fxLayoutAlign="space-between none">
                            <input matInput placeholder="Subject" type="text" required [(ngModel)]="contact.subject">
                            <mat-icon> perm_identity </mat-icon>
                        </div>
                    </mat-form-field>

            </div> <br>
        
            <div fxLayout="row" fxLayoutAlign="stretch">
                          
                    <mat-form-field appearance="outline">
                        <br>
                        <mat-label class="my-label">email :</mat-label>
                        <br>
                        <div fxLayout="row" fxLayoutAlign="space-between none">
                            <input matInput placeholder="email" name="email" required [(ngModel)]="contact.email">
                            <mat-icon> mail_outline</mat-icon>
                        </div>
                    </mat-form-field>   

             </div> <br>
         
                <mat-form-field appearance="outline" class="Mat-Msg">
                    <br>
                    <mat-label class="my-label">Votre demande :</mat-label>
                    <br>
                    <div div fxLayout="row" fxLayoutAlign="space-between none">
                        <input matInput placeholder="message" name="msg" required [(ngModel)]="contact.message">
                        <mat-icon> chat_bubble_outline</mat-icon>
                    </div>
                </mat-form-field>  <br><br>
               

            <button class="my-button" mat-raised-button color="primary" (click)="sendmsg()" >Envoyer</button>
        </form>

    </mat-card>
</div>