
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="40%" fxFlex.lt-md="100%" class="col-padding text-center ">
       
        <div class="numQst"><span class="num">NH</span></div><br>
        <div> Belaness Nouha Employee</div> <br>
        <hr>
        <div><button mat-button  class="btn-gray" disabled> Rapport de maturité </button> </div><br>
        <hr>
        <div><button mat-button  class="btn-gray" disabled>Historique</button> </div><br>
        <hr>
        <div><button mat-button  class="btn-gray" disabled>edit profil</button> </div><br>
        
        <hr>
        <div> 	&copy; Groupe DIGITAL <br> N'hesitez pas a nous <br> contacter en cas de <br> confusion</div>
    </div>





<div fxFlex.gt-sm="60%" fxFlex.lt-md="100%" class="col-padding">     
  
    <div>
        <mat-card> 
            <div fxLayout="row" >       
                <div fxFlex.lt-md="60%" class="qst"> Bienvenue Nouha</div>
                <div fxFlex.lt-md="20%" ><button mat-button  class="btn-primary" >Telecharger votre rapport</button> <br></div>
            </div>
       
         <div fxLayout="row " >
                  <div fxFlex.lt-md="50%">
                    <mat-card class="first-card">  le score de votre entreprise  <br>
                        12 | votre entreprise est : Traditionaliste 
                    </mat-card>
                   </div>
                   <div fxFlex.lt-md="50%">
                    <mat-card class="second-card"> nos recommandation  <br>
                        18 recommandation disponible
                    </mat-card>
                    </div>
                </div>
        <div>
            <button mat-button  class="btn" routerLink="/techservice" > Précédent </button>
        </div>
                 
        </mat-card>



</div>




