<div class="full-width-page">
    <div class="bloc" >
        <p>Quel type d'organisation etes-vous?</p>
        <p> Choisissez parmi cette selection, le type qui correspond a votre realite, des questions
            adaptees seront générées 
        </p>
    
        <div class="imgbloc"  fxLayoutAlign = "espace autour du centre" >
            <img src="/assets/images/img.jpg" alt="img1" class="img">
            <img src="/assets/images/img.jpg" alt="img1" class="img">
            <img src="/assets/images/img.jpg" alt="img1" class="img">
            <img src="/assets/images/img.jpg" alt="img1" class="img">
        </div>
    </div>
    <div class="btnbloc">
        <button mat-button class="btn-gray" routerLink="/home"> Précédent </button> 
        <button mat-raised-button color="primary" routerLink="/infoclient"> Suivant </button>
    </div> 

</div>

