<div class="full-width-page">
    <div class="bloc" >
        <h1>Quel type d'organisation etes-vous?</h1>
        <p> Choisissez parmi cette selection, le type qui correspond a votre realite, des questions
            adaptees seront générées 
        </p>
    
        <div class="imgbloc"  fxLayoutAlign = "espace autour du centre" >
           <a routerLink="/infoclient"> <img src="/assets/images/TypeOrga/PME.PNG" alt="img1" class="img"></a>
            <img src="/assets/images/TypeOrga/Societe.PNG" alt="img1" class="img">
            <img src="/assets/images/TypeOrga/inst.PNG" alt="img1" class="img">
            <img src="/assets/images/TypeOrga/Association.PNG" alt="img1" class="img">
        </div>
    </div>
    <div class="btnbloc">
        <button mat-button class="btn-gray" routerLink="/home"> Précédent </button> 
    </div> 

</div>

