<div class="card-container">
    <mat-card fxLayout="row wrap" class="card">
        <div fxFlex="66%" class="cardtext">
            <h1><strong>Reinventer</strong> votre entreprise avec la maturite digitale </h1>
            <p> Digital offre des outils propulsés par l’intelligence artificielle, <br>
                pour évaluer et améliorer votre entreprise.
            </p>

            <button mat-raised-button color="primary" routerLink="/typeorganisation">Mesurer votre maturite numerique</button> <br>
            <a href="">En savoir plus sur les outils digital</a>
        </div>
        <div fxFlex="34%">
            <img class="cercle" src="assets/images/digital.jpg" />
        </div>
    </mat-card>
</div>