<div class="card-container">
<mat-card fxLayout="row wrap" class="card"> 
    <div fxFlex="66%" class="cardtext">
        <p>Reinventer votre entreprise avec la maturite digitale <br>
            digital offre des outils propulses par l'integence artificielle  <br>
            pour evaluer et ameliorer votre entreprise
        </p>

        <button mat-raised-button color="primary" routerLink="/typeorganisation">Mesurer votre maturite numerique</button>  <br>
        <a href="">En savoir plus sur les outils digital</a>
        
    </div>
    <div fxFlex="34%">

    </div>
 </mat-card >
</div>
