.card-container{
    width: calc(100% - 40px);
}
.card{
    position: relative;
    top: 100px;
    bottom: 20px;
    left: 20px;
    background-color: #F2F2F2;
}
.cardtext{
    padding-left: 83px;
    padding-top: 90px;
    height: 60vh;
}
