.card-container{
    width: calc(100% - 40px);
}
.card{
    position: relative;
    top: 20px;
    bottom: 20px;
    left: 20px;
    background-color: #F2F2F2;
    min-height: 60vh;
}
.cardtext{
    padding-left: 83px;
    padding-top: 90px;
}
.cercle {
    margin : 60px;
    width: 250px;
    height: 250px;
    border-radius: 180px;
}
strong{
    color: #6F6CF9;
}
p{
    margin-left: 20px;
    margin-bottom: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: large;
}
