<div fxLayout="row wrap" class="axe-{{axecount}}">
    <div fxFlex.gt-sm="40%" class="col-padding text-center ">
        <img src="{{topic_img}}"  class="mh-100" alt="">
        <p class="titre text-bold"> Etape {{this.axecount}} / 5 </p>
        <p class="titre text-bold"> {{this.axe}}  </p>
        <p class="text-bold"> Cette dimension concerne la stratégie mise en place <br>
            par les décideurs et leur rôle dans l'intégration de la <br>
            transformation digitale dans l'entreprise. Il traite <br>
            également de l'implication et de l'acceptation des <br>
            salariés dans la mise en place de cette stratégie <br>
            de digitalisation. <br>    
        </p>
    </div>

    <div fxFlex.gt-sm="60%" class="col-padding">     
        <mat-card>
            <div fxLayout="row" class="partOne">
            
                    <div class="axe-{{axecount}} numQst" fxFlex.lt-md="20%"><span class="num">{{order}}</span></div>
                    <div fxFlex.lt-md="80%" class="qst question-content"> {{question.contenu}}</div>

            </div>
            <div >
                <mat-card class="rep"> 
                    <div  fxLayout="row">
                        <div fxFlex.lt-md="20%" >
                            <mat-radio-group  [(ngModel)]="clientreponse.idReponse">
                                <mat-radio-button class="axe-{{axecount}} mat-radio-button w-100" *ngFor="let reponse of reponses" [value]="reponse.id" >{{reponse.contenu}} </mat-radio-button>
                            </mat-radio-group> 
                        </div>
                    
                    </div>
                </mat-card>     
            </div>
            <div class="progbar"> 
                <mat-progress-bar class="axe-{{axecount}}" mode="determinate" value="{{100*order/total}}"></mat-progress-bar>
            </div>
            <div class="btn-center">
                <button mat-button class="btn-gray" (click)="onBack()"> Précédent </button>
                <button mat-raised-button class="btn axe-{{axecount}}" (click)="onSubmit()"> Suivant </button>
            </div>
        </mat-card>
    </div>
</div>
