.btn-center {
  text-align: center;
}
.btn-gray {
  background-color: rgba(0, 0, 0, 0.12) !important;
  margin-right: 15px;
}
.col-padding {
  padding: 50px;
}
.titre {
  color: #2f80ed;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: 500;
}
.mh-100 {
  max-width: 100%;
}
.rep {
  background-color: #f2f2f2;
  margin-bottom: 10px;
  margin-left: 65px;
  margin-right: 65px;
}
.progbar {
  padding: 15px;
}
.num {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.axe-1.qst {
  margin-left: 26px;
  font-size: 18px;
  font-weight: 500;
}
.partOne {
  margin: 20px;
}

.numQst {
  background-color: blue;
  height: 40px;
  width: 40px;
  max-height: 40px !important;
  max-width: 40px !important;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-progress-bar-buffer {
  background: #e4e8eb;
}

.mat-progress-bar {
  border-radius: 2px;
}
/* 1 */

.axe-1.numQst {
  background-color: blue;
}
.axe-1.btn {
  background-color: blue !important;
}

/* 2 */

.axe-2.numQst {
  background-color: #c70039;
}
.axe-2.btn {
  background-color: #c70039 !important;
}

/* 3 */

.axe-3.numQst {
  background-color: #e6004c;
}
.axe-3.btn {
  background-color: #e6004c !important;
}

/* 4 */

.axe-4.numQst {
  background-color: #c705b3;
}
.axe-4.btn {
  background-color: #c705b3 !important;
}

/* 5 */

.axe-5.numQst {
  background-color: #006600;
}
.axe-5.btn {
  background-color: #006600 !important;
}