<div fxLayout="row wrap">
    <div fxFlex.gt-sm="40%" fxFlex.lt-md="100%" class="col-padding text-center ">
        <img src="./assets/images/Quest/quest5.PNG"  class="mh-100" alt="">
        <p class="titre text-bold"> Etape 5 / 5 </p>
        <p class="titre text-bold"> Culture et innovation </p>
        <p class="text-bold"> Cette dimension concerne la culture de l'entreprise <br>         
            et la manière dont l'entreprise écoute ses <br>
            collaborateurs, quel que soit leur niveau  <br>
            dans la hiérarchie.</p>
    </div>
    
<div fxFlex.gt-sm="60%" fxFlex.lt-md="100%" class="col-padding">     
    <mat-card>
        <div fxLayout="row" class="partOne">
        
                <div class="numQst" fxFlex.lt-md="20%"><span class="num">1</span></div>
                <div fxFlex.lt-md="80%" class="qst"> Que signifie pour vous le terme "transformation numerique"</div>

        </div>
        <div >
            <mat-card class="rep"> 
                <div  fxLayout="row">
                    <div fxFlex.lt-md="20%" >
                        <mat-radio-group>
                            <mat-radio-button value="1" ></mat-radio-button>
                        </mat-radio-group> 
                    </div>
                    <div fxFlex.lt-md="80%" >
                        <p> question n 1 </p>
                    </div>
                </div>
            </mat-card>     
        </div>
        <div class="progbar"> 
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <div class="btn-center">
             <button mat-button class="btn-gray" routerLink="/techservice"> Précédent </button>
             <button mat-raised-button class="btn" routerLink="/infoperso"> Suivant </button>
        </div>
    </mat-card>
</div>
</div>