<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div style="height: 100px;">

    <mat-card class="card">

        <div class="w3-sidebar w3-bar-block w3-border-right" style="width:15%; height:73%;">
            <a href="#" class="w3-bar-item w3-button">Par thème</a>
            <a href="#" class="w3-bar-item w3-button">Par industrie</a>
            <a href="#" class="w3-bar-item w3-button">Dossiers</a>
        </div>
        <div style="margin-left: 160px ;">
            <div>
                <h1>Stratégie et Leadership</h1>
                <br>
                <div class="container">
                    <a href="https://bridgr.co" target="_blank">
                        <img src="/assets/Stra/6.PNG" width="280" height="220"> </a>
                    <div class="text">
                        <p>Le secteur de la consultation n’y échappe pas !</p>

                    </div>

                </div>
                <div class="container">
                    <a href="https://bridgr.co" target="_blank">
                        <img src="/assets/Stra/5.PNG" width="280" height="220"> </a>
                    <div class="text">
                        <p>5 conseils pour mieux gérer la croissance de votre startup</p>

                    </div>

                </div>
                <div class="container">
                    <a href="https://bridgr.co" target="_blank">
                        <img src="/assets/Stra/2.png" width="280" height="220"> </a>
                    <div class="text">
                        <p>Le secteur de la consultation n’y échappe pas !</p>

                    </div>

                </div>
            </div>

            <div>
                <h1>Technologies et services</h1>
                <br>
                <div class="container">
                    <a href="https://bridgr.co" target="_blank">
                        <img src="/assets/Stra/2.png" width="300" height="220"> </a>
                    <div class="text">
                        <p>Le secteur de la consultation n’y échappe pas !</p>

                    </div>

                </div>
            </div>

            <div>
                <h1>Culture et Innovation</h1>
                <br>
                <div class="container">
                    <a href="https://bridgr.co" target="_blank">
                        <img src="/assets/Stra/2.png" width="300" height="220"> </a>
                    <div class="text">
                        <p>Le secteur de la consultation n’y échappe pas !</p>

                    </div>

                </div>
            </div>

            <div>
                <h1>Opérations et processus</h1>
                <br>
                <div class="container">
                    <a href="https://bridgr.co" target="_blank">
                        <img src="/assets/Stra/2.png" width="300" height="220"> </a>
                    <div class="text">
                        <p>Le secteur de la consultation n’y échappe pas !</p>

                    </div>

                </div>
            </div>

            <div>
                <h1>Infrastructure informatique et données</h1>
                <br>
                <div class="container">
                    <a href="https://bridgr.co" target="_blank">
                        <img src="/assets/Stra/2.png" width="300" height="220"> </a>
                    <div class="text">
                        <p>Le secteur de la consultation n’y échappe pas !</p>

                    </div>

                </div>
            </div>
        </div>

    </mat-card>
</div>