<form [formGroup]="ressourceFormGroup">

    <mat-toolbar>
        <span>Stratégie et Leadership</span>
    </mat-toolbar>
    <div fxLayout="row wrap" fxLayoutAlign="space-between none">
        <div *ngFor="let number of [0,1,2]">
            <div *ngFor="let ressource of ressources">
                <div *ngIf="ressource.axe.nameAxe === 'strategie leadership' ">
                    <div class="container">
                        <a href="https://bridgr.co" target="_blank">
                            <img src="/assets/Stra/6.PNG" width="280" height="250">
                        </a>
                        <div class="text">
                            <p>{{ressource.secteur}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-toolbar>
        <span>Technologies et services</span>
    </mat-toolbar>
    <div fxLayout="row wrap" fxLayoutAlign="space-between none">
        <div *ngFor="let number of [0,1,2]">
            <div *ngFor="let ressource of ressources">
                <div *ngIf="ressource.axe.nameAxe === 'technologie service' ">
                    <div class="container">
                        <a href="https://bridgr.co" target="_blank">
                            <img src="/assets/Stra/6.PNG" width="280" height="220">
                        </a>
                        <div class="text">
                            <p>{{ressource.secteur}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-toolbar>
        <span>Culture et Innovation</span>
    </mat-toolbar>
    <div fxLayout="row wrap" fxLayoutAlign="space-between none">
        <div *ngFor="let number of [0,1,2]">
            <div *ngFor="let ressource of ressources">
                <div *ngIf="ressource.axe.nameAxe === 'culture innovation' ">
                    <mat-label>{{ressource.axe.nameAxe}}</mat-label>
                    <div class="container"><a href="https://bridgr.co" target="_blank"><img src="/assets/Stra/6.PNG"
                                width="280" height="220"></a>
                        <div class="text">
                            <p>{{ressource.secteur}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-toolbar>
        <span>Opérations et processus</span>
    </mat-toolbar>
    <div fxLayout="row wrap" fxLayoutAlign="space-between none">
        <div *ngFor="let number of [0,1,2]">
            <div *ngFor="let ressource of ressources">
                <div *ngIf="ressource.axe.nameAxe === 'operation processus' ">
                    <mat-label>{{ressource.axe.nameAxe}}</mat-label>
                    <div class="container"><a href="https://bridgr.co" target="_blank"><img src="/assets/Stra/6.PNG"
                                width="280" height="220"></a>
                        <div class="text">
                            <p>{{ressource.secteur}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-toolbar>
        <span>Infrastructure informatique et données</span>
    </mat-toolbar>
    <div fxLayout="row wrap" fxLayoutAlign="space-between none">
        <div fxFlex.gt-sm="40%" *ngFor="let number of [0,1,2]">
            <div *ngFor="let ressource of ressources">
                <div *ngIf="ressource.axe.nameAxe === 'infrastructure informatique' ">
                    <div class="container">
                        <a href="https://bridgr.co" target="_blank">
                            <img src="/assets/Stra/6.PNG" width="280" height="220"></a>
                        <div class="text">
                            <p>{{ressource.secteur}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>