<div fxLayout="row wrap">

    <div fxFlex.gt-sm="60%" fxFlex.lt-md="100%" class="col-padding">
        <mat-card>
            <div>
                <div fxLayout="row" fxLayoutAlign="stretch">
                    <form [formGroup]="ressourceFormGroup">
                        <mat-card *ngFor="let ressource of ressources">
                        <h1 *ngFor="let axe of axes">Axe : Stratégie et Leadership {{axe.nameAxe}}</h1>
                        <br>
                        <div class="container">
                            <a href="https://bridgr.co" target="_blank">
                                <img src="/assets/Stra/6.PNG" width="280" height="220"> </a>
                            <div class="text">
                                <p>{{ressource.secteur}}</p>
                            </div>
                        </div>
                    </mat-card>
                    </form>
                </div>

                <div class="btn-center">
                    <button mat-button class="btn-gray" routerLink="/"> Précédent </button>
                </div>

            </div>
        </mat-card>
    </div>


</div>