<div fxLayout="row wrap">
    <div fxFlex.gt-sm="40%" fxFlex.lt-md="100%" class="col-padding text-center ">
        <img src="./assets/images/inscritm.png"  class="mh-100" alt="">
        <p class="titre text-bold"> Une seule étape de plus <br>
            pour accéder à votre rapport </p>
        <p class="text-bold"> Enfin, nous devons apprendre à vous <br>
            connaître. Pour ce faire, voici quelques <br>
            questions pour nous aider à qualifier <br>
            l'entreprise.
        </p>
    </div>

<div fxFlex.gt-sm="60%" fxFlex.lt-md="100%" class="col-padding">     
  <mat-card>
        <div fxLayout="row" class="partOne">
                <div class="numQst" fxFlex.lt-md="20%"><span class="num">2.1</span></div>
                <div fxFlex.lt-md="80%" class="qst"> Informations sur votre entreprise (1)</div>
        </div>
        <div>
            <form [formGroup]="entrFormGroup">
                    <mat-form-field appearance="outline">
                        <mat-label>Nom de la compagnie </mat-label>
                        <mat-label class="obligation">*</mat-label>
                        <input matInput type="text"  formControlName="nom" >
                    </mat-form-field>
                  
                    <mat-form-field appearance="outline">
                        <mat-label>Site Web d'entreprise </mat-label>
                        <mat-label class="obligation">*</mat-label>
                        <input matInput type="text"  formControlName="siteWeb" >
                    </mat-form-field>
                  
                    <mat-form-field appearance="outline">
                        <mat-label>Adresse de la société </mat-label>
                        <mat-label class="obligation">*</mat-label>
                        <input matInput type="text" formControlName="adresse">
                    </mat-form-field>
                 
               
 
              
           
                <mat-form-field appearance="fill">
                    <mat-label>Dans quelle industrie etes-vous ?</mat-label>
                    <mat-select formControlName="secteurActivite">
                        <mat-option value="option1">Académie</mat-option>
                        <mat-option value="option2">Administration gouvernementale</mat-option>
                        <mat-option value="option2">Agriculture</mat-option>
                        <mat-option value="option2">Animation </mat-option>
                        <mat-option value="option1">Apprentissage en ligne</mat-option>
                        <mat-option value="option2">Art et Bricolages</mat-option>
                        <mat-option value="option2">Articles de sport</mat-option>
                        <mat-option value="option2">Automobile</mat-option>
                        <mat-option value="option2">Aviation </mat-option>
                        <mat-option value="option2">Banque</mat-option>
                        <mat-option value="option1">Beaux-arts</mat-option>
                        <mat-option value="option2">Bibliothèque</mat-option>
                        <mat-option value="option2">Bureau législatif</mat-option>
                        <mat-option value="option2">Collecte de fonds </mat-option>
                        <mat-option value="option2">Commerce de détail </mat-option>
                        <mat-option value="option2">Commerce international / développement l'Internet </mat-option>
                        <mat-option value="option1">Compagnies aériennes</mat-option>
                        <mat-option value="option2">Conception graphique / conception</mat-option>
                        <mat-option value="option2">Conteneurs Papier </mat-option>
                        <mat-option value="option2">Divertissement / Production de films</mat-option>
                        <mat-option value="option2">Dotation</mat-option>
                        <mat-option value="option2">Enseignement primaire / secondaire </mat-option>
                        <mat-option value="option1">Enseignement supérieur</mat-option>
                        <mat-option value="option2">Équipement médical </mat-option>
                        <mat-option value="option2">Fabrication électrique / électronique </mat-option>
                        <mat-option value="option2">Formation professionnelle </mat-option>
                        <mat-option value="option2">Génie mécanique ou industriel</mat-option>
                        <mat-option value="option2"> Gestion de l'éducation </mat-option>
                        <mat-option value="option1">Groupe de réflexion le tabac</mat-option>
                        <mat-option value="option2">Hôpital / soins de santé</mat-option>
                        <mat-option value="option2">Immobilier</mat-option>
                        <mat-option value="option2">Impression</mat-option>
                        <mat-option value="option2">Industrie de la recherche</mat-option>
                        <mat-option value="option2">Information Technologique</mat-option>
                        <mat-option value="option1">Ingénierie</mat-option>
                        <mat-option value="option2">Institutions religieuses </mat-option>
                        <mat-option value="option2">Jeux d'ordinateur </mat-option>
                        <mat-option value="option2">Journaux / Journalisme </mat-option>
                        <mat-option value="option2">La photographie </mat-option>
                        <mat-option value="option2">La production de médias</mat-option>
                        <mat-option value="option1">La sécurité publique </mat-option>
                        <mat-option value="option2">Industrie de l'édition</mat-option>
                        <mat-option value="option2">L'automatisation industrielle </mat-option>
                        <mat-option value="option2">Livraison de colis</mat-option>
                        <mat-option value="option2">Logiciel informatique</mat-option>
                        <mat-option value="option2">Loisirs / Voyage </mat-option>
                        <mat-option value="option1">Marketing / Publicité / Ventes </mat-option>
                        <mat-option value="option2">Matériel informatique </mat-option>
                        <mat-option value="option2">Médecine</mat-option>
                        <mat-option value="option2">Meubles </mat-option>
                        <mat-option value="option2">Mode Architecture</mat-option>
                        <mat-option value="option2">Nourriture / boissons</mat-option>
                        <mat-option value="option1">Organisation civique</mat-option>
                        <mat-option value="option2">Organisation politique </mat-option>
                        <mat-option value="option2">Pêcherie </mat-option>
                        <mat-option value="option2">Pétrole / Énergie / Solaire</mat-option>
                        <mat-option value="option2">Planification</mat-option>
                        <mat-option value="option2">Plastiques</mat-option>
                        <mat-option value="option1">Pratique du droit / cabinets d'avocats</mat-option>
                        <mat-option value="option2">Pratique médicale  </mat-option>
                        <mat-option value="option2">Production alimentaire</mat-option>
                        <mat-option value="option2">Produits chimiques </mat-option>
                        <mat-option value="option2">Produits de beauté  </mat-option>
                        <mat-option value="option2">Recrutement</mat-option>
                        <mat-option value="option1">Relations publiques / RP</mat-option>
                        <mat-option value="option2">Renouvelables / environnement  </mat-option>
                        <mat-option value="option2">Réseaux informatiques </mat-option>
                        <mat-option value="option2">Ressources humaines </mat-option>
                        <mat-option value="option2">Restaurants </mat-option>
                        <mat-option value="option2">RH Importer / Exporter </mat-option>
                        <mat-option value="option1">Sécurité informatique</mat-option>
                        <mat-option value="option2">Semi-conducteurs </mat-option>
                        <mat-option value="option2">Services environnementaux </mat-option>
                        <mat-option value="option2">Services financiers </mat-option>
                        <mat-option value="option2">Services individuels / familiaux </mat-option>
                        <mat-option value="option2">Services juridiques</mat-option>
                        <mat-option value="option1">Supermarchés </mat-option>
                        <mat-option value="option2">Télécommunications </mat-option>
                        <mat-option value="option2">Textiles </mat-option>
                        <mat-option value="option2">Traduction / Localisation</mat-option>
                        <mat-option value="option2">Vêtements </mat-option>
                        <mat-option value="option2">Web Santé et forme</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>

        <div class="btn-center" fxLayout="row">
            <div fxFlex.lt-md="20%">
                <button mat-button  class="btn-gray" routerLink="/" disabled> Précédent </button>
            </div>
            
            <button mat-fab color="'primary'" >
                <mat-icon  (click)="onSaveEntreprise()">trending_flat</mat-icon>
            </button>
        </div>
 </mat-card>
</div>
</div>

