<div style="width: 400px; margin: auto;">
  <div *ngIf="currentExpert" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="priorite">Title</label>
        <input type="text" class="form-control" id="priorite" [(ngModel)]="currentExpert.priorite" name="priorite" />
      </div>
      <div class="form-group">
        <label for="reference">Description</label>
        <input type="text" class="form-control" id="reference"
          [(ngModel)]="currentExpert.reference" name="reference" />
      </div>

    </form>

    <button class="badge badge-danger mr-2" (click)="deleteExpert()"> Delete </button>

    <button type="submit" class="badge badge-success"
      (click)="updateExpert()" >Update </button>
    <p>{{ message }}</p>
  </div>
<!---             
  <div *ngIf="!currentExpert">
    <br />
    <p>Cannot access this Expert...</p>
  </div>        -->
</div>