<div fxLayout="row wrap">
  <div fxFlex.gt-sm="40%" fxFlex.lt-md="100%" class="col-padding text-center ">
    <img src="assets/images/inscritm.png" class="mh-100" alt="">
    <p class="titre text-bold"> Évaluation de votre maturité numérique </p>
    <p class="text-bold">Avant de commencer votre évaluation, <br>
      veuillez fournir les informations requises <br>
      pour créer votre compte personnel.</p>
  </div>
  <div fxFlex.gt-sm="60%" fxFlex.lt-md="100%" class="col-padding">
    <mat-card>
      <div>
        <h1> Nous vous suggérons de saisir vos informations pour : </h1>
        <p>
          * Recevez vos recommandations et actions à entreprendre; <br>
          * Recevez votre rapport détaillé; <br>
          * Reprenez la saisie de vos réponses en cas d'interruption.<br>
        </p>
        <div class="form-container">
          <mat-form-field appearance="outline" >
            <mat-label>Nom : </mat-label>
            <input matInput type="text" placeholder="Nom" [(ngModel)]="form.nom">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Prénom :</mat-label>
            <input matInput type="text" placeholder="Prénom" [(ngModel)]="form.prenom">
          </mat-form-field>
          <br>
          <br>

          <mat-form-field appearance="fill">
            <mat-label>Votre rôle au sein de l'entreprise </mat-label>
            <mat-label class="obligation">*</mat-label>
            <mat-select [(ngModel)]="form.roleentrp" >
              <mat-option value="Employé">Employé</mat-option>
              <mat-option value="Directeur gestionnaire">Directeur gestionnaire</mat-option>
              <mat-option value="Vice-président (VP) / Chef X officier (CxO)">Vice-président (VP) / Chef X officier (CxO)</mat-option>
              <mat-option value="Président et PDG">Président et PDG</mat-option>
              <mat-option value="Propriétaire">Propriétaire</mat-option>
              <mat-option value="Conseil d'administration">Conseil d'administration</mat-option>
              <mat-option value="Autre">Autre</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- ajout role client dans l'entreprise -->



        <div class="btn-center">
          <button mat-button class="btn-gray" routerLink="/typeorganisation"> Précédent </button>
          <button mat-raised-button color="primary"  (click)="onUpdateProfil()"> Suivant </button>
        </div>

      </div>
    </mat-card>
  </div>


</div>
