<div fxLayout="row wrap">
    <div fxFlex.gt-sm="40%" fxFlex.lt-md="100%" class="col-padding text-center ">
        <img src="./assets/images/quest1.png"  class="mh-100" alt="">
        <p class="titre text-bold"> Evaluation de votre maturite numerique </p>
        <p class="text-bold"> Avant de commencer votre evaluation, <br>
            veuillez fournir les informations requises <br>
            pour creer votre compte personnel.</p>
    </div>

<div fxFlex.gt-sm="60%" fxFlex.lt-md="100%" class="col-padding">     
    <mat-card>
        <div class="qst">
            <mat-card> 
                <div  fxLayout="row">
                    <div fxFlex.lt-md="20%" >
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">Option 1</mat-radio-button>
                        </mat-radio-group> 
                    </div>
                    <div fxFlex.lt-md="80%" >
                        <p> question n 1 </p>
                    </div>
                </div>
            </mat-card>     
        </div>
        <div class="progbar"> 
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <div class="btn-center">
             <button mat-button class="btn-gray" routerLink="/"> Précédent </button>
             <button mat-raised-button color="primary" routerLink="/"> Suivant </button>
        </div>
       
    </mat-card>
</div>
</div>
