<div fxLayout="row wrap">
    <div fxFlex.gt-sm="40%" fxFlex.lt-md="100%" class="col-padding text-center ">
        <img src="./assets/images/quest1.png"  class="mh-100" alt="">
        <p class="titre text-bold"> une seul etape de plus pour acceder a votre rapport </p>
        <p class="text-bold"> Avant de commencer votre evaluation, <br>
            veuillez fournir les informations requises <br>
            pour creer votre compte personnel.
        </p>
    </div>

<div fxFlex.gt-sm="60%" fxFlex.lt-md="100%" class="col-padding">     
  <mat-card>
        <div fxLayout="row" class="partOne">
                <div class="numQst" fxFlex.lt-md="20%"><span class="num">1</span></div>
                <div fxFlex.lt-md="80%" class="qst"> Informations sur votre entreprise (1)</div>
        </div>
        
        <div>

            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Select an option</mat-label>
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                    </mat-select>
                </mat-form-field>  
                <mat-form-field appearance="fill">
                    <mat-label>Select an option</mat-label>
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                    </mat-select>
                </mat-form-field>  <br>
                <mat-form-field appearance="fill">
                    <mat-label>Select an option</mat-label>
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field appearance="fill">
                    <mat-label>Select an option</mat-label>
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                    </mat-select>
                </mat-form-field>  <br>
                <mat-form-field appearance="fill">
                        <mat-label>Select an option</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                        </mat-select>
                </mat-form-field> 
                <mat-form-field appearance="fill">
                    <mat-label>Select an option</mat-label>
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

        </div>
        <div>
              <p>     abonnez vous a notre newsletter numerique  <br>
                      obtenez des articles sur la numerisation et la gestion des <br>
                      processus pas de partage de votre email desabonnes-vous <br>
                      a tout moment
             </p>
        </div>

        <div class="btn-center" fxLayout="row">
            <div fxFlex.lt-md="20%">
                <button mat-button  class="btn-gray" routerLink="/" disabled> Précédent </button>
            </div>
             
             <div class="numQst" fxFlex.lt-md="20%">
                 <span class="num" routerLink="/score">--></span>
             </div>
        </div>
 </mat-card>
</div>
</div>

