<div style="width: 400px; margin: auto;">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="contenu">Nom</label>
                <input type="text" class="form-control" id="contenu" required [(ngModel)]="expert.contenu" name="contenu" />
            </div>

            <div class="form-group">
                <label for="priorite">Prenom</label>
                <input class="form-control" id="priorite" required [(ngModel)]="expert.priorite" name="priorite" />
            </div>

            <div class="form-group">
                <label for="reference">Adresse</label>
                <input class="form-control" id="reference" required [(ngModel)]="expert.reference" name="reference" />
            </div>

            <button (click)="saveExpert()" class="btn btn-success">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success" (click)="newExpert()">Add</button>
        </div>
    </div>
</div>