<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Créer un nouvel expert</mat-card-title>
        <form [formGroup]="expertForm" autocomplete="off" novalidate (ngSubmit)="createExpert(expertForm.value)" fxLayout="column wrap"
            fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Nom de l'expert" formControlName="name" id="name">
                    <mat-hint align="end">Pas plus de 60 caractères.</mat-hint>
                    <mat-error *ngIf="hasError('name', 'required')">Le nom est requis</mat-error>
                    <mat-error *ngIf="hasError('name', 'maxlength')">Vous avez plus de 60 caractères </mat-error>
                  </mat-form-field>
                   
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choisissez une date de naissance" formControlName="dateOfBirth" id="dateOfBirth" 
                        readonly (click)="picker.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                   
                  <mat-form-field>
                    <input matInput type="text" placeholder="Adresse de l'expert" formControlName="address">
                    <mat-hint align="end">Pas plus de 100 caractères.</mat-hint>
                    <mat-error *ngIf="hasError('address', 'required')">L'adresse est requise </mat-error>
                    <mat-error *ngIf="hasError('address', 'maxlength')">Vous avez plus de 100 caractères</mat-error>
                  </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Annuler</button>
                <button mat-raised-button color="primary" [disabled]="!expertForm.valid">Créer</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>